.mypad {
 padding: 12px;
 font-size: 1rem;
 cursor: pointer;
}
.back {
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 70em;
  border-radius: 5px;
 }

.button {
  padding:12px;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}